:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/*/////// MI CSS ///////*/
body {
  background-image: url(img/pool_table.png);
  flex-direction: column;
}

/* Puntuación */
.puntuacion {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.puntuacion__titulo {
  margin: 24px 0 16px 0;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}

.puntuacion__contenedor-numero {
  width: 200px;
  height: 125px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.puntuacion__numero {
  font: 700 6rem/125% 'Rubik', sans-serif;
  color: black;
}

/* Baraja y botones principales */
.seccion-principal {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seccion-principal__baraja-cartas {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.seccion-principal__carta-contenedor {
  width: 144px;
  height: 220px;
  /* Le he puesto a este elemento el tamaño de la carta que hay en su interior, para que cuando esté vacío porque aún no se ha sacado ninguna mantenga el tamaño que tiene cuando sí que se ha sacado */
  margin: 0;
  margin-right: 16px;
  padding: 16px;
  border: 2px dashed white;
  border-radius: 16px;
}

.seccion-principal__carta,
.seccion-principal__reverso-baraja {
  height: 220px;
  border-radius: 12px;
}

.seccion-principal__btns {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
}

.seccion-principal__pedir-btn,
.seccion-principal__plantarse-btn,
.nueva-partida-btn {
  font-weight: bold;
  text-transform: uppercase;
}

.seccion-principal__plantarse-btn {
  margin-top: 8px;
  color: white;
  background-color: black;
}

.seccion-principal__plantarse-btn span {
  margin-left: 4px;
}

/* Game over y mensaje plantarse */
.game-over,
.mensaje-final {
  position: fixed;
  height: 0;
  width: 100dvw;
  background-color: black;
  z-index: 1;
}

.mensaje-final {
  background-color: #1f81ff;
}

.game-over__titulo,
.mensaje-final__titulo {
  margin: 120px 0 16px 0;
  color: #ff3c3c;
  font: 700 6.5rem/100% 'Rubik', sans-serif;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
}

.mensaje-final__titulo {
  margin-bottom: 8px;
  font-size: 4rem;
  color: black;
}

.mensaje-final__texto {
  margin-bottom: 32px;
  color: black;
  font: 500 2rem/100% 'Rubik', sans-serif;
  text-align: center;
  opacity: 0;
}

.nueva-partida-btn {
  opacity: 0;
}

.game-over.game-over--desplegado,
.mensaje-final.mensaje-final--desplegado {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: height 0.7s ease-in-out;
}

.game-over--desplegado .game-over__titulo,
.game-over--desplegado .nueva-partida-btn,
.mensaje-final--desplegado .mensaje-final__titulo,
.mensaje-final--desplegado .nueva-partida-btn,
.mensaje-final--desplegado .mensaje-final__texto {
  opacity: 1;
  transition: opacity 1.3s 0.4s ease-in-out;
}

@media (min-width: 768px) {

  /* Baraja y botones principales */
  .seccion-principal__carta-contenedor {
    width: 196px;
    height: 300px;
  }

  .seccion-principal__carta,
  .seccion-principal__reverso-baraja {
    height: 300px;
    border-radius: 16px;
  }

  .seccion-principal__btns {
    flex-direction: row;
  }

  .seccion-principal__plantarse-btn {
    margin-top: 0;
    margin-left: 8px;
  }

  /* Game over y mensaje plantarse */
  .game-over__titulo,
  .mensaje-final__titulo {
    margin-bottom: 24px;
    font-size: 8rem;
  }

  .mensaje-final__titulo {
    margin-bottom: 16px;
  }

  .mensaje-final__texto {
    margin-bottom: 48px;
    font-size: 2.5rem;
  }

}